extends layout

block content
  form(action="/add", method="post")
    input(type='hidden', name='_csrf', value="#{csrf_token}")

    label(for='entry') Entry
    input#entry(type='text', name="entry", placeholder='Entry')
    br
    label(for='meaning') Meaning
    input#meaning(type='meaning', name="meaning", placeholder='Meaning')
    br
    label(for='source') Source
    input#source(type='source', name="source", placeholder='Source')
    br
    label(for='tags') Tags
    input#tags(type='tags', name="tags", placeholder='Tags')
    br
    button(type='submit') Add