extends layout

block content
  form(action="/search", method="post")
    input(type='hidden', name='_csrf', value="#{csrf_token}")

    input#query(type='text', name="query", placeholder='Enter something!')
    button(type='submit') Search!

  h1 Recent Entries

  each entry in entries
    include partials/entry-partial