!!!
html(lang='en')
  head
    title= title 
    meta(name="viewport",content="width=device-width, initial-scale=1.0", charset="UTF-8")
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='shortcut icon', href='favicon.ico')


  body
    aside
      a(href="/")
        img(src="/images/logo.png")
      - if (typeof(user) !== 'undefined'){
          a(href="logout").menu Logout, #{user.username}
          a(href="add").menu.right Add
      -} else {
          span(data-hide="signup")#login.toggle.button Login
          span(data-hide="login")#signup.right.toggle.button Sign-up
          div
            include login
            include signup
            hr#divider
      -}
      block side
    article
      block content

  script(type='text/javascript', src='/javascripts/events.js')