!!!
html(lang='en')
  head
    title= title 
    meta(name="viewport",content="width=device-width, initial-scale=1.0", charset="UTF-8")
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    aside
      img(src="/images/logo.png")
      - if (typeof(user) !== 'undefined'){
          a(href="logout") Logout
      -} else {
          a(href="login")#login-button Login
          a(href="signup")#signup-button.right Sign-up
          div#login
            include login
          div#signup
            include signup
      -}
      block side
    article
      | Stuff
      block content

    block auth
