form(action="/signup", method="post")#signup-target.hidden
  input(type='hidden', name='_csrf', value="#{csrf_token}")

  label(for='username') Username
  input#username(type='text', name="username", placeholder='Username')
  br
  label(for='password') Password
  input#password(type='password', name="password", placeholder='Password')
  br
  button(type='submit') Sign Up