@import 'grid'

$blue = #3892E3
$lightBlue = #7FB6E8
$lightAccent = #D8E0E8
$textColor = #222222

boxed()
	border 1px solid $lightBlue
	padding 20px
	background white 

a
	text-decoration none
	color $blue
a.menu
	color black

a:hover
	color black

article
	column(8)
	margin-bottom 75px
	width 66%
	margin-left 50px
	padding 15px


aside
	column(4)
	height 100%
	// max-width 500px
	min-width 300px
	width 20%

body
	margin-top 15px
	font-size 22px
	background #F5F5F5
	color $textColor
	line-height 1.4
	overflow-x hidden


body,aside
	padding 15px 15px 15px 10px

// From Bootstrap, with tweaks
button
	background $blue
	display inline-block
	padding 3px 6px
	margin-bottom 0
	margin-top -4px
	font-size 18px
	font-weight normal
	line-height 1.15
	text-align center
	white-space nowrap
	vertical-align middle
	cursor pointer
	-webkit-user-select none
	 -moz-user-select none
	  -ms-user-select none
	   -o-user-select none
	      user-select none
	background-image none
	border 1px solid transparent
	margin-left 5px

button:hover
	text-shadow 1px 1px 0 black


header
	width 75%
	margin 0 auto
	background red
	font-size 3em
	h1
		font-size 4em

img
	margin 0 auto
	display block

input[type="text"]
	width: 250px

label
	margin-right 15px

.button
	cursor pointer
	-webkit-touch-callout none
	-webkit-user-select none
	-khtml-user-select none
	-moz-user-select none
	-ms-user-select none
	user-select none

a.menu:hover, .button:hover
	color white
	background black

.hidden
	display none

.right
	float right

.left
	float left

.top-bar
	position absolute
	height 15px
	top 0
	left 0
	background $textColor
	width 100%

// ***********
// Entry
// ***********

// .entry-block:nth-child(even)
// 	border-left $lightAccent solid 5px
// 	padding-left 10px

.entry-block, .box
	boxed()

.entry-block
	width 40%
	min-height 250px
	margin 10px
	div
		margin-top 4px

.entry-page
	.entry-block
		min-height inherit
		width 90%

.entry
	font-weight bold

.permalink
	margin-top -15px
	font-size .5em

.source
	font-size .8em
	font-style italic

.tag
	display inline-block
	margin-bottom 5px
	margin-right 10px
	padding 3px 6px
	min-width 10px
	text-align center
	font-family Monaco, "Liberation Mono", Courier, monospace
	background #EEE
	color rgb(111,176,235)
	border-radius 2px
	text-shadow 1px 1px 0 black
	word-break break-all
	cursor pointer

.tag:hover
	color black

#divider
	display none

@media screen and (max-width: 960px)
	body
		padding-left 0
	article
		// column(12)
		width 90%
		margin-left 0
		margin-top 25px
	aside
		padding 15px 0 0 0
		min-width 95%
	header
		font-size 1em
	#divider
		display inherit
	.entry-block
		width 90%
		margin-left 0