body {
  width: 100%;
  *zoom: 1;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
a {
  text-decoration: none;
  color: #3892e3;
}
a.menu {
  color: #000;
}
a:hover {
  color: #000;
}
article {
  display: inline;
  float: left;
  overflow: hidden;
  width: 620px;
  margin: 0 10px;
  *width: 620px -correction;
  *margin: 0 10px -correction;
  margin-bottom: 75px;
  width: 66%;
  margin-left: 50px;
  padding: 15px;
}
aside {
  display: inline;
  float: left;
  overflow: hidden;
  width: 300px;
  margin: 0 10px;
  *width: 300px -correction;
  *margin: 0 10px -correction;
  height: 100%;
  min-width: 300px;
  width: 20%;
}
body {
  margin-top: 15px;
  font-size: 22px;
  background: #f5f5f5;
  color: #222;
  line-height: 1.4;
  overflow-x: hidden;
}
body,
aside {
  padding: 15px 15px 15px 10px;
}
button {
  background: #3892e3;
  display: inline-block;
  padding: 3px 6px;
  margin-bottom: 0;
  margin-top: -4px;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.15;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  margin-left: 5px;
}
button:hover {
  text-shadow: 1px 1px 0 #000;
}
header {
  width: 75%;
  margin: 0 auto;
  background: #f00;
  font-size: 3em;
}
header h1 {
  font-size: 4em;
}
img {
  margin: 0 auto;
  display: block;
}
input[type="text"] {
  width: 250px;
}
label {
  margin-right: 15px;
}
.button {
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
a.menu:hover,
.button:hover {
  color: #fff;
  background: #000;
}
.hidden {
  display: none;
}
.right {
  float: right;
}
.left {
  float: left;
}
.top-bar {
  position: absolute;
  height: 15px;
  top: 0;
  left: 0;
  background: #222;
  width: 100%;
}
.entry-block,
.box {
  border: 1px solid #7fb6e8;
  padding: 20px;
  background: #fff;
}
.entry-block {
  width: 40%;
  min-height: 250px;
  margin: 10px;
}
.entry-block div {
  margin-top: 4px;
}
.entry-page .entry-block {
  min-height: inherit;
  width: 90%;
}
.entry {
  font-weight: bold;
}
.permalink {
  margin-top: -15px;
  font-size: 0.5em;
}
.source {
  font-size: 0.8em;
  font-style: italic;
}
.tag {
  display: inline-block;
  margin-bottom: 5px;
  margin-right: 10px;
  padding: 3px 6px;
  min-width: 10px;
  text-align: center;
  font-family: Monaco, "Liberation Mono", Courier, monospace;
  background: #eee;
  color: #6fb0eb;
  border-radius: 2px;
  text-shadow: 1px 1px 0 #000;
  word-break: break-all;
  cursor: pointer;
}
.tag:hover {
  color: #000;
}
#divider {
  display: none;
}
@media screen and (max-width: 960px) {
  body {
    padding-left: 0;
  }
  article {
    width: 90%;
    margin-left: 0;
    margin-top: 25px;
  }
  aside {
    padding: 15px 0 0 0;
    min-width: 95%;
  }
  header {
    font-size: 1em;
  }
  #divider {
    display: inherit;
  }
  .entry-block {
    width: 90%;
    margin-left: 0;
  }
}
